@use "../../global" as g;

.landing-page-wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/cantina-art-wall.png")  no-repeat left;
    background-size: cover;
    position: relative;
    > main {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        text-align: center;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 0;
        > h1 {
            color: white;
            font-size: 2.8rem;
            margin-bottom: 2rem;
        }
        > .landing-page-btns-container {
            gap: 0 1rem;
            width: 100%;
            > .cta, .secondary-cta {
                width: 9rem;
                padding: 0.5rem 0;
            }
            > .secondary-cta {
                color: white;
                border: 1px solid white;
            }
        }
    }
    > footer {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 10%);
        width: 100%;
        text-align: center;
        z-index: 0;
        > .landing-page-footer-text {
            color: white;
            font-weight: 600;
            margin: 0.2rem 0;
            > a {
                color: white;
                text-decoration: none;
            }
            > .separator {
                margin: 0 0.5rem;
            }
        }
        > .socials-container {
            gap: 0 1rem;
            margin-top: 1rem;
            svg > circle, > svg path {
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .landing-page-wrapper > main {
        top: 45%;
        transform: translate(-50%, -45%);
        > h1 {
            font-size: 3.5rem;
        }
        > .landing-page-btns-container > .cta, .landing-page-btns-container > .secondary-cta {
            width: 11rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .social-icon:hover {
        circle {
            fill: g.$brand-yellow;
        }
        path {
            fill: white;
        }
    }
}