@use '../../global' as g;

.contact > main {
    min-height: 100vh;
    display: flex;
    > .contact-content {
        padding: 8rem 1.5rem 1.5rem 1.5rem;
        > h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .form-info {
            font-weight: 500;
            max-width: 40rem;
        }
        > .contact-form {
            margin: 2rem 0;
            width: 100%;
            gap: 1rem 0;
            > .form-input-container {
                width: 100%;
                > .form-input {
                    font-family: 'Poppins', sans-serif;
                    padding: 0.8rem 1rem;
                    border: 1px solid #B4B4B4;
                    border-radius: 5px;
                    width: 100%;
                    font-size: 0.9rem;
                    max-width: 30rem;
                    &.error-border {
                        border: 1px solid g.$menu-red;
                        &:focus {
                            border: 1px solid g.$menu-red;
                        }
                    }
                    &:focus {
                        outline: none !important;
                        border: 1px solid g.$brand-yellow;
                    }
                }
                > .error-message {
                    color: g.$menu-red;
                    font-size: 0.8rem;
                    margin-top: 0.2rem;
                }
            }
            
            > .cta {
                padding: 0.5rem 0;
                width: 8rem;
                font-size: 1rem;
            }
        }
        .text-link {
            text-decoration: none;
            color: g.$brand-yellow;
        }
    }
}

@media screen and (min-width: 768px) {
    .contact > main > .contact-content {
        padding: 8rem 2.5rem 2.5rem 2.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .contact > main {
        > .contact-content {
            width: 60%;
        }
        .text-link {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 1px;
                bottom: -2px;
                left: 0;
                background-color: g.$brand-yellow;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    } 
}