@use '../../global' as g;

.contact > main {
    min-height: 100vh;
    display: flex;
}

@media screen and (min-width: 1000px) {
    .contact > main {
        .text-link {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 1px;
                bottom: -2px;
                left: 0;
                background-color: g.$brand-yellow;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    } 
}