@use '../../global' as g;

@keyframes menu-background-animation {
    from { opacity: 0; }
    to { opacity: 1; }
}

header {
    padding: 2.5rem 1.5rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    .logo {
        width: 10rem;
    }
    .form-logo-desktop {
        display: none;
    }
    > .menu-btn {
        background: url('../../assets/hamburger-icon.svg') no-repeat center;
        height: 2.5rem;
        width: 2.5rem;
        border: none;
        &.menu-btn-white {
            background: url('../../assets/hamburger-icon-white.svg') no-repeat center;
        }
        &.menu-btn-open {
            background: url('../../assets/close-icon.svg') no-repeat center;
            z-index: 10;
        }
    }
    > .nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: g.$brand-yellow;
        &.nav-open {
            display: block;
            animation: menu-background-animation 0.75s;
        }
        > ul {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .nav-item {
                list-style: none;
                > .nav-link {
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 2rem;
                    font-weight: 600;
                    transition: opacity 0.25s ease-in;
                    &.current-nav-link {
                        color: white;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        padding: 2.5rem;
    }
}

@media screen and (min-width: 1000px) {
    header {
        .form-logo-desktop {
            display: block;
        }
        .form-logo-mobile {
            display: none;
        }
    }
}

@media screen and (min-width: 1200px) {
    .nav-link:hover {
        opacity: 0.5;
    }
}