@use '../../global' as g;

.menu > main {
    padding: 8rem 1.5rem 1.5rem 1.5rem;
    min-height: 100vh;
    > h1 {
        text-align: center;
        font-size: 2.3rem;
    }
    .menu-toggle {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        background-color: black;
        color: white;
        border: none;
        width: 12rem;
        border-radius: 5px;
        font-size: 1.1rem;
        padding: 0.7rem 0;
        margin: 1rem 0;
        transition: opacity 0.3s ease-in-out;
    }
    .food-menu-guide {
        border: 1px solid black;
        padding: 1rem;
        width: max-content;
        margin: 1rem auto 1rem auto;
        .guide-sections-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .guide-text, .guide-title, .guide-label {
            font-family: 'Arima Madurai', sans-serif;
            font-weight: 600;
        }
        > .guide-text {
            font-size: 1.5rem;
        }
        .guide-title {
            color: g.$menu-red;
        }
        .guide-elements-container {
            margin: 0.5rem 0 1rem 0;
            gap: 0 1.5rem;
            .guide-label {
                margin-left: 0.5rem;
            }
        }
    }
    .food-menu, .drinks-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 1440px;
        margin: 0 auto;
    }
    .food-menu {
        .food-section {
            margin: 1rem 0;
            .section-name, .section-sub-name {
                font-family: 'Arima Madurai', sans-serif;
            }
            .section-name {
                font-size: 1.3rem;
                color: g.$menu-red;
            }
            .section-sub-name {
                margin: 0 0.5rem;
                text-transform: uppercase;
            }
            .section-spice-icon {
                width: 1.2rem;
                margin: -0.2rem 0.5rem 0 0.5rem;
            }
            .section-price, .item-price, .option-price {
                font-weight: 500;
            }
            .section-price {
                margin-top: -0.2rem;
            }
            .section-description {
                font-size: 0.95rem;
            }
            .food-item {
                margin: 0.5rem 0;
                .item-name {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    font-size: 1rem;
                }
                .food-item-icon {
                    width: 1.2rem;
                    margin: -0.1rem 0 0 0.5rem;
                }
                .item-price {
                    margin-left: 1rem;
                }
            }
            .food-option {
                > .option-icon {
                    width: 1rem;
                    margin: 0 0 -0.1rem 0.5rem;
                }
                > .option-price {
                    margin-left: 0.5rem;
                }
            }
        }
    }
    .drinks-menu {
        .drinks-section {
            margin: 1rem 0;
            .drinks-section-name {
                font-family: 'Arima Madurai';
                color: g.$menu-red;
            }
            .drinks-subsection {
                margin: 0.5rem 0;
                > .drinks-subsection-name {
                    font-family: 'Poppins';
                    color: g.$menu-red;
                }
            }
            .drink {
                margin: 0.5rem 0;
                .drink-name, .drink-price {
                    display: inline-block;
                }
                .drink-name, .drink-option-text {
                    margin-right: 1rem;
                }
                .drink-name {
                    text-transform: uppercase;
                }
                .drink-price {
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .menu > main {
        padding: 8rem 2.5rem 2.5rem 2.5rem;
    }
}

@media screen and (min-width: 800px) {
    .menu > main {
        .food-menu-guide > .guide-sections-container {
            flex-direction: row;
            gap: 0 4rem;
        }
        .food-menu {
            flex-direction: row;
            gap: 0 2rem;
        }
    }
}

@media screen and (min-width: 1000px) {
    .menu > main .drinks-menu {
        flex-direction: row;
        gap: 0 2rem;
        > .drinks-menu-column {
            width: calc(100% /3);
        }
    }
}

@media screen and (min-width: 1200px) {
    .menu > main {
        .menu-toggle:hover {
            opacity: 0.7;
        }
        .food-menu, .drinks-menu {
            gap: 0 4rem;
        }
    }
}