.website-footer {
    background-color: #272727;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem 0;
    > .footer-logo {
        width: 6rem;
    }
    .footer-link {
        text-decoration: none;
    }
    .footer-text, .separator {
        color: white;
        font-size: 0.8rem;
    }
    .separator {
        margin: 0 0.5rem;
    }
    > .footer-socials {
        gap: 0 1rem;
        > .footer-social-link > svg {
            width: 1.5rem;
        }
    }
}

@media screen and (min-width: 550px) {
    .website-footer {
        flex-direction: row;
        gap: 0 2rem;
    }
}

@media screen and (min-width: 768px) {
    .website-footer {
        padding: 1.5rem 2.5rem;
    }
}